/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

body,html{
    height:100%;
    width:100%;
}

.off-canvas-wrap,.inner-wrap{
    height:100%;
}

.off-canvas-wrap .main-section {
  height: 100%; overflow:scroll;
}

/* remove scroll bars in Safari */
.off-canvas-wrap .main-section:-webkit-scrollbar {
    display: none;
}

.main-section {
  padding: 1em 0.5em 4em 0.5em;
}

.bottom {
  height: 4em;
  width: 100%;
}

li.has-form {
  margin-top: 0.25rem;
}

.fi-heart {
  color: grey;
  cursor: pointer;
}
.heart {
  color:red;
}