<h2>Фільтр</h2>
<div class="topic">
  <div class="topic-recipe">
    <div class="topic-recipe-content">
      <ul>
        <li>
          <span class="preparing time">Швидкість приготування:</span>
          <a href="#"><%= @selected_filters[0]%></a>
        </li>
        <li>
          <span class="preparing difficulty">Складність приготування:</span>
          <a href="#"><%= @selected_filters[1]%></a>
        </li>
        <li>
          <span class="preparing type">Спосіб приготування:</span>
          <a href="#"><%= @selected_filters[2]%></a>
        </li>
      </ul>
    </div>
  </div>
</div>

<%= render "page" %>